.gradle/
.vscode/
bin/
build/
ChoiceTheorem's-overhauled-village.jar
src/main/ctov-mores-villagers-compat/
src/main/ctov-mores-villager-compat/ctov-mores-villager-compat-v-1-0.zip
src/main/ctov-mores-villager-compat/pack.mcmeta
src/main/ctov-mores-villager-compat/data/ctov/structures/village/beach/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/beach/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/beach/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/beach/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/beach/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/christmas/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/christmas/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/christmas/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/christmas/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/christmas/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert_oasis/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert_oasis/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert_oasis/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert_oasis/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert_oasis/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/halloween/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/halloween/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/halloween/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/halloween/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/halloween/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/jungle/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/jungle/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/jungle/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/jungle/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/jungle/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/jungle_tree/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/jungle_tree/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/jungle_tree/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/jungle_tree/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/jungle_tree/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mesa/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mesa/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mesa/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mesa/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mesa_fortified/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mesa_fortified/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mesa_fortified/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mesa_fortified/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mesa_fortified/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mountain/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mountain/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mountain/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mountain/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mountain/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mountain_alpine/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mountain_alpine/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mountain_alpine/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mountain_alpine/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mountain_alpine/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mushroom/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mushroom/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mushroom/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mushroom/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/mushroom/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/plains/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/plains/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/plains/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/plains/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/plains/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/plains_fortified/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/plains_fortified/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/plains_fortified/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/plains_fortified/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/plains_fortified/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/savanna/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/savanna/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/savanna/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/savanna/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/savanna/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/savanna_na/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/savanna_na/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/savanna_na/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/savanna_na/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/savanna_na/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/snowy_igloo/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/snowy_igloo/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/snowy_igloo/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/snowy_igloo/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/snowy_igloo/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/swamp/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/swamp/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/swamp/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/swamp/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/swamp/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/swamp_fortified/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/swamp_fortified/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/swamp_fortified/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/swamp_fortified/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/swamp_fortified/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/taiga/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/taiga/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/taiga/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/taiga/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/taiga/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/taiga_fortified/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/taiga_fortified/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/taiga_fortified/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/taiga_fortified/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/taiga_fortified/jobsite/woodworker.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert_oasis/jobsite/engineer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert_oasis/jobsite/garden.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert_oasis/jobsite/hunter.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert_oasis/jobsite/oceanographer.nbt
src/main/ctov-mores-villager-compat/data/ctov/structures/village/desert_oasis/jobsite/woodworker.nbt
src/main/ctov-size-variantion-add-on/ctov-size-variantion-add-on.zip
src/main/ctov-size-variantion-add-on/pack.mcmeta
src/main/ctov-size-variantion-add-on/data/ctov/tags/worldgen/structure/large.json
src/main/ctov-size-variantion-add-on/data/ctov/tags/worldgen/structure/medium.json
src/main/ctov-size-variantion-add-on/data/ctov/tags/worldgen/structure/small.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_beach.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_dark_forest.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_desert.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_jungle.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_mesa.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_mountain.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_mushroom.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_plains.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_savanna.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_snowy.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_swamp.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/large/village_taiga.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_beach.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_dark_forest.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_desert.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_jungle.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_mesa.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_mountain.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_mushroom.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_plains.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_savanna.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_snowy.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_swamp.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/medium/village_taiga.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_beach.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_dark_forest.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_desert.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_jungle.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_mesa.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_mountain.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_mushroom.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_plains.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_savanna.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_snowy.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_swamp.json
src/main/ctov-size-variantion-add-on/data/ctov/worldgen/structure/small/village_taiga.json
src/main/ctov-size-variantion-add-on/data/minecraft/tags/worldgen/structure/village.json
src/main/ctov-size-variantion-add-on/data/minecraft/worldgen/structure/village_desert.json
src/main/ctov-size-variantion-add-on/data/minecraft/worldgen/structure/village_plains.json
src/main/ctov-size-variantion-add-on/data/minecraft/worldgen/structure/village_savanna.json
src/main/ctov-size-variantion-add-on/data/minecraft/worldgen/structure/village_snowy.json
src/main/ctov-size-variantion-add-on/data/minecraft/worldgen/structure/village_taiga.json
src/main/ctov-size-variantion-add-on/data/minecraft/worldgen/structure_set/village.json
